.side-bar, .main-login-content{
	float: left;
}
.side-bar{
	width: 250px;
	margin-right: 20px;
}
.main-login-content{
	width: calc(100% - 270px);
}
#login-location-line{
	margin-left: 270px;
}
.side-bar>div{
	border: 1px solid #94bae0;
}
.submit-login-btn{
	width: unset;
    height: unset;
    color: #fff;
}
.submit-login-btn:hover{
	background-color: #ed1e79;
	color: #fff
}
.form-login{
	margin-top: 50px;
}
.form-login .form-ctrl{
	padding: 0;
}
.form-login h2{
	color: #02a3e8;
}
.side-bar>div p {
    margin: 10px 16px;
}
.side-bar>div p a{
    color: black;
}
.side-bar>div p a i{
    padding-right: 5px;
}
.side-bar>div p a:hover{
    color: #02a3e8;
}
.warning{
	color: red;
	padding-left: 5px;
}